* encoding=Windows-1251 eol=crlf

*.xml text encoding=Windows-1251 eol=crlf
*.xml	text working-tree-encoding=Windows-1251 eol=crlf

*.json text encoding=UTF-8 eol=lf
*.md text encoding=UTF-8 eol=lf
*.sh text encoding=UTF-8 eol=lf
*.ts text encoding=UTF-8 eol=lf
*.yml text encoding=UTF-8 eol=lf
