bin
content
userdata
fsgame.ltx
PlayGame.exe
unins000.dat
unins000.exe

!gamedata/.keep

pfx
start.sh

.dbtool/*.*

.dbtool/extracted
!.dbtool/extracted/.keep

.dbtool/minified
!.dbtool/minified/.keep

.dbtool/separated
!.dbtool/separated/.keep

!.dbtool/utils/*

.dbtool/db_converter
converter.exe

###

!gamedata/configs/text/*
