bin
content
gamedata
userdata
fsgame.ltx
PlayGame.exe
unins000.dat
unins000.exe

pfx
xrEngine.dxvk-cache

.db
!.db/.keep
unpacked
output
tmp

converter.exe
db_converter
settings.json

bun.lockb
node_modules
